@tailwind base;

@tailwind components;

@tailwind utilities;

*{
  font-family: "Roboto", -apple-system, "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.desktopmenu .router-link-active{
  @apply text-white/80
}

body{
	background-color: #111827;
  position: relative;
}

body::after{
  position: absolute;
  content: '';
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: -1;
  background: radial-gradient(70.69% 77.49% at 50% 20.81%, rgba(0, 148, 255, 0.11) 0%, rgba(17, 24, 39, 0) 100%);
}

html, body{
	overflow-x: hidden;
}

/* width */
::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(39, 52, 82); 
}
  
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(82, 102, 146); 
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(134, 154, 199); 
}


.page-enter-active,
.page-leave-active {
  transition: all 0.4s;
}
.page-enter-from,
.page-leave-to {
  opacity: 0;
  filter: blur(1rem);
}

.checkout_box{
	position: relative;
}

.checkout_box::after{
	position: absolute;
	content: '';
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	background: radial-gradient(82.36% 82.36% at 32.96% 17.64%, rgba(55, 116, 202, 0.19) 0%, rgba(31, 41, 55, 0) 100%);
}

.special_box::after{
	position: absolute;
	content: '';
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	background: radial-gradient(82.36% 82.36% at 32.96% 17.64%, rgba(55, 116, 202, .5) 0%, rgba(31, 41, 55, 0) 100%);
}