@tailwind base;

@tailwind components;

@tailwind utilities;


@keyframes dotScroll {
    0% {
        background-position-y: 140px
    }

    to {
        background-position-y: 0
    }
}

*{
  font-family: "Roboto", -apple-system, "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}


@media (min-width: 640px){
	.main {
		--dot-size: 2px;
	}
}
.main {
    --dot-size: 1.25px;
}


.main:after {
    content: "";
    animation: dotScroll 16s linear infinite;
    background-image: radial-gradient(circle,#2e3c51 var(--dot-size),transparent 0);
    /* background-size:calc(14.2857142857% - 1px) 100px; */
    background-position: -60px 0;
    width: 100vw;
    margin-right: auto;
    margin-left: auto
}

@media (min-width: 768px){
	.main:after {
		background-size: calc(8.3333333333% - 1px) 140px;
	}
	.main:after {
		position: absolute;
		inset: 0;
		z-index: -10;
	}
}
.main:after {
	max-width: 1536px;
}

@media (max-width: 1536px){
	.main:after {
		max-width: 1280px;
	}
}
@media (max-width: 1280px){
	.main:after {
		max-width: 1024px;
	}
}
@media (max-width: 1024px){
	.main:after {
		max-width: 768px;
	}
}
@media (max-width: 768px){
	.main:after {
		max-width: 640px;
	}
}
@media (max-width: 640px){
	.main:after {
		max-width: 400px;
	}
}
@media (max-width: 400px){
	.main:after {
		max-width: 360px;
	}
}


.desktopmenu .router-link-active{
  @apply text-white/80
}

body{
	background-color: #111827;
  position: relative;
}

body::after{
  position: absolute;
  content: '';
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: -1;
  background: radial-gradient(70.69% 77.49% at 50% 20.81%, rgba(0, 148, 255, 0.11) 0%, rgba(17, 24, 39, 0) 100%);
}

html, body{
	overflow-x: hidden;
}

/* width */
::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(39, 52, 82); 
}
  
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(82, 102, 146); 
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(134, 154, 199); 
}



.checkout_box{
	position: relative;
}

.checkout_box::after{
	position: absolute;
	content: '';
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	background: radial-gradient(82.36% 82.36% at 32.96% 17.64%, rgba(55, 116, 202, 0.19) 0%, rgba(31, 41, 55, 0) 100%);
}

.special_box::after{
	position: absolute;
	content: '';
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	background: radial-gradient(82.36% 82.36% at 32.96% 17.64%, rgba(55, 116, 202, .5) 0%, rgba(31, 41, 55, 0) 100%);
}